.App {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.auth-container {
  border-radius: 8px;
  width: 100%;
}

.auth-container label {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  width: 100%;
}

.auth-container input {
  margin-left: 10px;
  padding: 5px;
}


.welcome-container {
  padding: 20px;
  border: 1px solid #4CAF50;
  border-radius: 8px;
  background: #f0fff0;
}

.error-message {
  color: #d32f2f;
  margin: 10px 0;
  padding: 10px;
  background: #ffebee;
  border-radius: 4px;
}

.event-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 8px;
}

.event-details {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.event-details p {
  margin: 10px 0;
}

.rsvp-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background: #f8f8f8;
  border-radius: 10px;
  text-align: center;
}

.rsvp-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
}

.confirm-button:hover {
  background-color: #3e8e41;
}

.decline-button {
  background-color: #f44336;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
}

.decline-button:hover {
  background-color: #d32f2f;
}

.event-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background: #f5f5f5;
  border-radius: 8px;
}

.event-details {
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.event-details p {
  margin: 10px 0;
}

.declined-message {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background: #000000a9;
  border-radius: 10px;
  text-align: center;
  color: #d32f2f;
}








.rsvp-container {
  background-image: url('./images/symbols.webp');
}

.loading-indicator {
  display: inline-flex;
  align-items: center;
}

.loading-indicator::after {
  content: '...';
  animation: dots 1.5s infinite steps(3);
}

@keyframes dots {

  0%,
  20% {
    content: '.';
  }

  40% {
    content: '..';
  }

  60%,
  100% {
    content: '...';
  }
}

@media (width<400px) {
  .squid-game-container {
    padding: 2rem 0px;
  }

  .invitation-text {
    padding: 1rem 0px;
    margin: 10px 0px;
    width: 100%;
  }

  .imgs {
    flex-direction: column;
    align-items: center;
  }

  .game-user {
    width: 200px;
    height: 200px;
  }

  .game-leader {
    width: 200px;
    height: 200px;
  }

}